[Unit]
Description=SMB/CIFS Mount for SQL Backups
Requires=network-online.target
After=network-online.target

[Mount]
What=//veeamsrv.kcep.local/backup$/mssql
Where=/mnt/sql_backups
Type=cifs
Options=vers=3.0,credentials=/etc/smbcredentials/.veeamsrv_creds,uid=mssql,gid=mssql,file_mode=0660,dir_mode=0770,_netdev

[Install]
WantedBy=multi-user.target
