Package: sqlmanager
Version: 1.3.7
Section: utils
Priority: optional
Architecture: amd64
Depends: 
Maintainer: KulikovVM
Installed-Size: 7904
Description: Web application for managing SQL Server databases
 SQLManager is a web application for managing SQL Server databases,
 allowing to perform restore and backup operations through a simple web interface.
 The application provides security features and detailed logging.
